VITE_BASE_URL=/                                                                                                             # Base URL where the React.js application is hosted.
VITE_ISSUANCE_API_URL=http://localhost:3001                                                                                 # API URL of the backend issuance service.
VITE_VERIFICATION_API_URL=http://localhost:3002                                                                             # API URL of the backend verification service.