FRONTEND_HOST_URL=http://localhost:5173                                                                                                          # URL of the front-end application which will be allowed to connect to the Node.js server.
PORT=3001                                                                                                                                        # Port on which the Node.js server will listen.
WORKER_ID=kube-credential-system-backend-issuance-1                                                                                              # Unique identifier for the issuance service worker instance.