FRONTEND_HOST_URL=http://localhost:5173                                                                                                          # URL of the front-end application which will be allowed to connect to the Node.js server.
PORT=3002                                                                                                                                        # Port on which the Node.js server will listen.
WORKER_ID=kube-credential-system-backend-verification-1                                                                                          # Unique identifier for the verification service worker instance.
ISSUANCE_API_URL=http://localhost:3001                                                                                                           # URL of the issuance API server.